    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        background-color: #1a1a1a;
        color: white;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-weight: bold;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .panier-link {
        background-color: transparent;
        color: white;
        margin-right: 140px;
        margin-top: 20px;
        padding: 8px 14px;
        border-radius: 8px;
        font-weight: bold;
        text-decoration: none;
    }

    .panier-link:hover {
        background-color:#88908b ;
    }