 body {
    font-family: Arial;
    padding: 20px;
  }
  .btn {
    padding: 10px 15px;
    background:  #88908b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
 
  .btn-commander {
    background-color: #88908b;
  }
  .message {
    background: #d4edda;
    color: black ;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
  }